// ====================== Banner and Logo
.header-content {
  background-color: @darkgrey;
  padding: 200px 0 200px 30px;

  div {
    #left-logo {
      font-size: 2rem;
      letter-spacing: 10px;
      transform: rotate(90deg);
      margin: 10px 0 -37px -15px;
      width: 1px;
    }
  }
}

h1 {
  font-size: 4rem;
  color: @white;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 10px;

  span {
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: 1px;
    text-align: center;
  }

  a {
    color: @white;
    text-decoration: none;
  }
}
