// Color assignments
// Replace with appropriate color scheme
@font-color: @darkgrey;
@button-bg: @eastern-blue;
@main-bg: @white;
@navigation-border: @silver;
@footer-bg: @sandy-beach;
@hover: teal;

// Colors
@white: #ffffff;
@silver: #c0c0c0;
@darkgrey: #212529;
@eastern-blue: #17a2b8;
@sandy-beach: #ffebcd;

@mobile: ~'(max-width: 500px)';
@tablet: ~'(max-width: 800px)';
