// Color assignments
// Replace with appropriate color scheme

@font-color: @darkgrey;
@main-bg: @white;
@navigation-border: @silver;

// Colors
@main: #31323d;
@secondary: #2b2a2a;
@highlight: #4ad7b1;
@white: #ffffff;
@silver: #c0c0c0;
@darkgrey: #333333;

@mobile: ~'(max-width: 650px)';
@tablet: ~'(max-width: 800px)';
